{% extends 'base.html.twig' %}

{% block title %}Votre Profile{% endblock %}

{% block body %}
	<div id="profilHeader">
		<h1>Bienvenue nom d'utilisateur</h1> 

		<p>Vous êtes enregistrer en tant <span id="typeUser">qu'un admin sur cette plateforme</span></p>
	</div>

	<div id="infoProfil">
		<p>Cliquez sur le bouton ci-dessous pour accèder l'espace d'administration</p>
		<p>Vous pourrez faire la gestion de toutes les fonctionnalités du site</p>
	</div>

	<a href="{{path('admin')}}">
		<button class="btn btn-info" id="btnProfil">Accèder à l'espace administration</button>
	</a>
{% endblock %}
