{% extends 'base.html.twig' %}

{% block title %}Votre Profile{% endblock %}

{% block body %}
	<h1>Bienvenue</h1>


	<a href="{{path('admin')}}">
		<button class="btn btn-info">Visiter espace admin</button>
	</a>
{% endblock %}
