{% extends 'base.html.twig' %}

{% block title %}Votre Profile{% endblock %}

{% block body %}
	<div id="profilHeader">
		<h1>Bienvenue {{app.user.getPrenomUser}} {{app.user.getNomUser}}</h1> 

		<p>Vous êtes enregistrer en tant <span id="typeUser"> que comptable sur cette plateforme</span></p>
	</div>
	
	<div id="infoProfil">	
		<p>Cliquez sur le bouton ci-dessous pour accèder à la page de comptabilité</p>
	</div>
	<a href="{{path('homepage')}}">
		<button class="btn btn-info" id="btnProfil>Accèder à la page de comptabilité</button>
	</a>
{% endblock %}
