{% extends 'base.html.twig' %}

{% block title %}Editer un élève{% endblock %}

{% block body %}
    <h1>Editer un élève</h1>

    {{ include('eleve/_form.html.twig') }}
            <div>
                <button type="submit" class="btn btn-success">Editer votre élève</button>
            </div>
        </form>
    </div>

    <a href="{{ path('eleve_index') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>

{% endblock %}
