{% extends 'base.html.twig' %}

{% block title %}Editer un élève{% endblock %}

{% block body %}
    <h1>Editer un élève</h1>

    <div class="container-fluid">
        <form id="formEleve" method="POST" action="{{
         path('eleve_edit',{'id': eleve.id}) }}">
            {{ include('eleve/_form.html.twig') }}
                <div id="divAjout" class="form-actions">
                    <input type="submit" value="Editer
                     votre élève" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>

    <a href="{{ path('eleve_index') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>

{% endblock %}
