{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau élève{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau élève</h1>

            {{ include('eleve/_form.html.twig') }}
                <div id="divAjout">
                    <button type="submit" class="btn btn-success">Ajouter votre eleve</button>
                </div>
            </div>
        </form>
    </div>

    <a href="{{ path('eleve_index') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
   </a>
    
{% endblock %}