{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau élève{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau élève</h1>

    {% for message in app.flashes('SuccessEleve') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <div class="container-fluid formEntité2" id="formEleve">
            {{ include('eleve/_form.html.twig') }}
        </div>
    </div>


    <a href="{{ path('eleve_index') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
   </a>
    
    {{dump()}}
{% endblock %}