{% extends 'base.html.twig' %}

{% block title %}Elève{% endblock %}

{% block body %}
    <h1>Suppression d'un élève</h1>

    <p>Appuyer sur ce bouton pour supprimer l'élève choisi</p>

    <p>L'élément que vous voulez supprimer : {{ eleve.prenomEleve }} {{ eleve.nomEleve }}</p>

    <div id="warning">
        <p><i class="fas fa-exclamation-triangle"></i> Attention : tous les inscriptions et flux  qui utilisent cette élève</p>
        <p>vont être supprimé de la base de donnée</p>
    </div>

    {{ include('eleve/_delete_form.html.twig') }}

    <a href="{{ path('eleve_index') }}">
        <button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>

{% endblock %}
