<h1>Bonjour! Confirmer votre email pour acceder à la plateforme</h1>

<p>
    Veuillez confirmer votre address email en appuyant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien ne sera plus valide dans la date suivante: {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci de votre attention, Admin de l'association sportive de St Vincent.
</p>
