{% extends 'base.html.twig' %}

{% block title %}Photo{% endblock %}

{% block body %}
    <h1>Suppression d'une photo</h1>

	<p>Cliquez sur le bouton Supprimer pour supprimer le actualité choisi : {{photoActu.imgPhotoActu}}</p>


    {{ include('photo_actu/_delete_form.html.twig') }}
    <div>
        <a href="{{ path('photo_actu_index') }}">
        	<button class="btn btn-secondary" id="btnRetour">
                Revenir dans la liste
            </button> 
        </a>
    </div>

{% endblock %}