    <div class="container-fluid">
        <form id="formCategDoc" method="POST">
        	<div>
            	<label class="labels" >Libellé de la categorie de document</label>
            </div>
            <div id="divInput">
                <input type="text" name="nomCateg" id="inputNom" class="form-control"
                placeholder="Saisissez un libellé de categorie de document">
            </div>
