    <div class="container-fluid">
        <form id="form" method="POST">
            <label class="labels" >Libellé de la categorie de document</label>
            <div>
                <input type="text" name="nomCateg" id="inputNom" class="form-control"
                placeholder="Saisissez un libellé de categorie de document">
            </div>
