/**Général**/
*{
	margin: auto;
	text-align: center;
}

h1{
	font-weight: bold;
}

h6{
	font-size: 20px;
}

nav{
	padding: 8px;
	background-color: #0F1B2C;
}

a{
	color: white;
}

#links{
	color: black;
}

form{
	text-align: center;
	font-size: 40px;
	padding: 40px;
}

form div{
	padding-bottom: 30px;
}


label{
	font-size: 20px;
	position: relative;
}

#divAjout{
	position: relative;
	display: flex;
}

footer{
    background-color: #0F1B2C;
    color: white;
    list-style: none;
}

footer i{
	color: #fff;
	font-size: 26px;
}

button a:hover{
	text-decoration: none;
}

p{
	font-size: 30px;
}

button.btn.btn-success{
	padding: 25px;
	font-size: 30px;
	position: relative;
}

#divInput{
	position: relative;
	width: 45%;
	right: 27%;
}

.title{
	font-weight: bold;
	font-size: 40px;
}

/** Footer  **/

.coordonnees, .contact, .access, .networks {
	display: inline-block;
	padding: 55px;
}


.coordonnees p, .contact p, .access p{
	
	text-align: left;
	font-size: 24px;

}

.coordonnees h3, .contact h3, .access h3{
	
	text-align: left;
	font-size: 34px;

}

/*formulaire de connexion*/

#part1{
	float: left;
	width: 50%;
}

#formConnexion div{
	padding-bottom: 30px;
}

#formConnexion label{
	float: left;
}

#connexion a{
	margin: 0;
	padding: 0;
}

#connexion i{
	font-size: 30px;
}

#btnConnexion{
	margin-top: 30px;
}

#part2{
	margin: 0;
	width: 45%;
	float: right;
}

#btnRegister{
	background-color: #235024;
	color: #fff;
	font-weight: bold;
	border-radius: 7px;
	border-style: none;
	padding: 15px;
}

.profil{
	color: #fff;
}

.erreur{
	color: red;
	font-size: 30px;
}

/*formulaire d'inscription*/

#formRegister label{
	float: left;
}

#formRegister #check{
	height: 22px;
	position: relative;
	width: 3%;
}

#formRegister #divAjout{
	right: 0;
}

#formRegister #divAjout p{
	margin: 0 0 0 20px;
	padding-top:40px; 
}

#formRegister button.btn.btn-success{
	padding: 15px;
	font-size: 20px;	
} 

/*formulaire d'oubli de mot de passe*/

#btnReset{
	margin-top: 50px;
}

#formOubli div{
	position: relative;
	right: 37%;
	width: 45%;
}

#formOubli label{
	right: 57%;
}

#formOubli #divAjout{
	right: 37%;
}

/*Formulaire des type et catégorie*/

#formType label,#formSport label, #formCategEleve label, #formCategDoc label{
	float: left;
	position: relative;
	left: 7px;
}

#formType button.btn.btn-success, #formCategEleve button.btn.btn-success,
 #formCategDoc button.btn.btn-success, #formSport button.btn.btn-success{
	left: 6px;
}

/*Formulaire des élèves, documents, et événement*/

#formDoc label, #formEvent label, #formEleve label{
	float: left;
}

#formDoc span, #formEvent span, #formEleve span{
	font-size: 25px;
}

#formDoc select, #formEvent select, #formEleve select{
	font-size: 25px;
}

#formDoc button.btn.btn-success, #formEvent
 button.btn.btn-success, #formEleve button.btn.btn-success{
	left: 30%;
}

.inputFile{
	font-size: 25px;
	margin-left: 250px;
}

/*Page de gestion des documents*/

#search{
	text-align: center;
}

#search input{
	width: 20%;
	display: inline-block;
}

#search button{
	margin-top: 10px;
}

/*la page liste des événements*/

#vignette{
	height: 150px;
	width: 150px;
	float: left;
}

#event{
	font-size: 20px;
}

#event i{
	font-size: 20px;
}

#event #dateInscrip{
	float: left;
}

#event #place{
	position: relative;
	left: 10%;
}

#event #descrip{
	display: inline-block;
	position: relative;
	right: 70px;
}


#evenement{
	padding: 0;
	margin: 35px 20px;
	border: solid 1px black;
}

#evenement p{
	font-size: 20px;
}

#evenement h3{
	margin-top:0;
}

#evenement div.container-fluid{
	padding: 0;
	margin: 0;
}

#evenement i.fas.fa-calendar-alt{
	padding: 5px;
	font-size: 18px;
	color: black;
}

#filtre{
	display: flex;
}

#filtre span{
	font-size: 30px;
}

#filtre select{
	height: 40px;
	font-size: 20px;
}

#filtre button{
	padding: 10px;
	font-size: 20px;
}

#filtre div{
	margin: 20px;
}

#filtre #switch{
	margin-top: 28px;
}

#filtre #left{
	margin-left: 25%;
}

/*Switch*/
.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input{ 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider{
  background-color: #2196F3;
}

input:focus + .slider{
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round{
  border-radius: 34px;
}

.slider.round:before{
  border-radius: 50%;
}

/*Espace d'admin*/

.tableAdmin{
	margin: 40px 0; 
	border: solid black;
}

.tableAdmin button a{
	font-size: 30px;
}

.tableAdmin th, .tableAdmin td{
	text-align: center;
	font-size: 25px;
	padding: 20px;
}

i.far.fa-edit, i.fas.fa-trash{
	font-size: 20px;
	padding: 15px;
}

table img{
	width: 100px;
	height: 100px;
}

table button.btn.btn-info{
	margin: 12px 0;
	padding: 25px;
	font-size: 20px;
}

#btninfo1{
	padding: 25px 85px;
}

#btninfo2{
	padding: 25px 52px;
}

#btninfo3{
	padding: 25px 115px;
}

#btninfo4{
	padding: 25px 55px;
}

#btninfo5{
	padding: 25px 90px;
}

#btnAjout, #btnRetour{
	padding: 30px;
    font-size: 20px;
}

#btnRetour{
	background-color: grey;
}

#btnSuppr{
	padding: 40px;
	font-size: 30px;
}

#warning{
	color: red;
	font-size: 40px;
	border: solid;
	width: 65%;
}