		<div>
        	<label class="labels" >Nom du type d'événement</label>
        </div>
        <div id="divInput">
            <input type="text" name="nomTypeEvent" id="inputNom" class="form-control"
            placeholder="Saisissez un type d'événement">
        </div>
