    <div class="container-fluid">
        <form id="form" method="POST">
            <label class="labels" >Nom du type d'événement</label>
            <div>
                <input type="text" name="nomEvent" id="inputNom" class="form-control"
                placeholder="Saisissez un sport">
            </div>
