{% extends 'base.html.twig' %}

{% block title %}Modifier un nouveau type d'événement{% endblock %}

{% block body %}
    <h1>Modifier un nouveau type d'événement</h1>

    {{ include('sport/_form.html.twig') }}
            <div>
                <button type="submit" class="btn btn-success">
                Modifier votre sport</button>
            </div>
        </form>
    </div>

    <a href="{{ path('type_evenement_index') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>
    
{% endblock %}