{% extends 'base.html.twig' %}

{% block title %}Modifier un type d'événement{% endblock %}

{% block body %}
    <h1>Modifier un type d'événement</h1>

    {{ include('type_evenement/_form.html.twig') }}
            <div id="divAjout">
                <button type="submit" class="btn btn-success">
                Modifier votre type d'évenement</button>
            </div>
        </form>
    </div>

    <a href="{{ path('type_evenement_index') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>
    
{% endblock %}