{% extends 'base.html.twig' %}

{% block title %}Editer un événement{% endblock %}

{% block body %}
    <h1>Editer un événement</h1>

        {{ include('evenement/_form.html.twig') }}
                <div id="divAjout">
                    <button type="submit" class="btn btn-success">Editer votre événement</button>
                </div>
            </div>
        </form>
    </div>

    <a href="{{ path('evenement_admin') }}">
        <button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>
    
{% endblock %}
