{% extends 'base.html.twig' %}

{% block title %}Editer un événement{% endblock %}

{% block body %}
    <h1>Editer un événement</h1>

    <div class="container-fluid">
        <form id="formEvent" method="POST" action="{{
         path('evenement_edit',{'id': evenement.id}) }}">
            {{ include('evenement/_form.html.twig') }}
                <div id="divAjout" class="form-actions">
                    <input type="submit" value="Editer
                     votre événement" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>

    <a href="{{ path('evenement_admin') }}">
        <button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>
    
{% endblock %}
