{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau événement{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau événement</h1>

    <div class="container-fluid">
        <form id="formEvent" method="POST" action="{{path('evenement_new')}}">
            {{ include('evenement/_form.html.twig') }}
                <div id="divAjout" class="form-actions">
                    <input type="submit" value="Ajouter
                     votre événement" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>

    <a href="{{ path('evenement_admin') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>
    
{% endblock %}
