    <div class="container-fluid">
        <form id="formCategEleve" method="POST">
        	<div>
            	<label class="labels" >Libellé de la categorie d'élève</label>
            </div>
            <div id="divInput">
                <input type="text" name="nomCateg" id="inputNom" class="form-control"
                placeholder="Saisissez un libellé de categorie d'élève">
            </div>


