{% extends 'base.html.twig' %}

{% block title %}Editer un budget{% endblock %}

{% block body %}
    <h1>Editer un budget</h1>

    {% for message in app.flashes('SuccessBudget') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <div class="container-fluid formEntité">
            {{ include('budget/_form.html.twig') }}
        </div>
    </div>

    <a href="{{ path('budget_index') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button> 
    </a>
    
{% endblock %}