{% extends 'base.html.twig' %}

{% block title %}Editer un document{% endblock %}

{% block body %}
    <h1>Editer un document</h1>

    <div class="container-fluid">
        <form id="formDoc" method="POST" action="{{
         path('document_edit',{'id': document.id}) }}">
            {{ include('document/_form.html.twig') }}
                <div id="divAjout" class="form-actions">
                    <input type="submit" value="Editer votre
                     document" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>

    <a href="{{ path('document_admin') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>
    
{% endblock %}
