{% extends 'base.html.twig' %}

{% block title %}Editer un document{% endblock %}

{% block body %}
    <h1>Editer un document</h1>

        {{ include('document/_form.html.twig') }}
                <div id="divAjout">
                    <button type="submit" class="btn btn-success">Editer votre document</button>
                </div>
            </div>
        </form>
    </div>

    <a href="{{ path('document_admin') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>
    
{% endblock %}
