{% extends 'base.html.twig' %}

{% block title %}Liste des documents téléchargeables{% endblock %}

{% block body %}
    <h1>Liste des documents téléchargeables</h1>

    <form class="d-flex" id="search">
        <input class="form-control me-2" type="search"
         placeholder="Rechercher Document" aria-label="Search">
        <button class="btn btn-light"
         type="submit">Rechercher</button>
    </form>
    <table class="table tableAdmin">
        <thead>
            <tr>
                <th scope="col">Nom du Document</th>
                <th scope="col">Description du document</th>
                <th scope="col">Lien de téléchargement</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td scope="row">{{ document.nomDocument }}</td>
                <td scope="row">{{ document.descriptionDocument }}</td>
                <td>
                    <a href="{{ document.lienDocument }}"
                     download="{{ document.lienDocument }}">
                        <button class="btn btn-primary">
                            <i class="fas fa-download"></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="erreur">Aucune donnée n'a été trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
