{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau document{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau document</h1>

    {{ include('document/_form.html.twig') }}
            <div>
                <button type="submit" class="btn btn-success">Ajouter votre document</button>
            </div>
        </form>
    </div>

    <button class="btn btn-default" id="btnRetour">
    	<a href="{{ path('document_admin') }}">
            Revenir dans la liste
        </a>
    </button>
{% endblock %}
