    <div class="container-fluid">
        <form id="formSport" method="POST">
        	<div>
            	<label class="labels" >Nom du Sport</label>
            </div>
            <div id="divInput">
                <input type="text" name="nomSport" id="inputNom" class="form-control"
                placeholder="Saisissez un sport">
            </div>

