    <div class="container-fluid">
        <form id="form" method="POST">
            <label class="labels" >Nom du Sport</label>
            <div>
                <input type="text" name="nomSport" id="inputNom" class="form-control"
                placeholder="Saisissez un sport">
            </div>

