    	<div>
        	<label class="labels" >Nom du Sport</label>
        </div>
        <div id="divInput">
            <input type="text" name="nomSport" id="nomSport" class="form-control"
            placeholder="Saisissez un sport">
        </div>
