{% extends 'base.html.twig' %}

{% block title %}Modifier un sport{% endblock %}

{% block body %}
    <h1>Modifier un sport</h1>

    {{ include('categorie_eleve/_form.html.twig') }}
            <div>
                <button type="submit" class="btn btn-success">
                Modifier votre sport</button>
            </div>
        </form>
    </div>

    <a href="{{ path('sport_index') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>
    
{% endblock %}