{% extends 'base.html.twig' %}

{% block title %}Modifier un sport{% endblock %}

{% block body %}
    <h1>Modifier un sport</h1>

    <div class="container-fluid">
        <form id="formSport" method="POST" action="{{
         path('sport_edit',{'id': sport.id})}}">
            {{ include('categorie_eleve/_form.html.twig') }}
            <div id="divAjout" class="form-actions">
                <input type="submit" value="Modifier votre sport" class="btn btn-success">
            </div>
        </form>
    </div>

    <a href="{{ path('sport_index') }}">
    	<button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>
    
{% endblock %}