{% extends 'base.html.twig' %}

{% block title %}Sport{% endblock %}

{% block body %}
    <h1>Suppression d'un sport</h1>

    <p>Appuyer sur ce bouton pour supprimer le sport choisi</p>

    <p>L'élément que vous voulez supprimer : {{sport.nomSport}}</p>

    <div id="warning">
        <p><i class="fas fa-exclamation-triangle"></i> Attention : tous les événements qui utilisent ce sport</p>
        <p>vont être changé à la valeur "aucun"</p>
    </div>

    {{ include('sport/_delete_form.html.twig') }}

    <a href="{{ path('sport_index') }}">
        <button class="btn btn-default" id="btnRetour">
            Revenir dans la liste
        </button>
    </a>

{% endblock %}